#info_div_3 {
    position:relative;
    height:500px;
    width:100%;
    box-shadow:0px 0px 20px #000;
    background-color:#EEE;
    z-index:2;
}

    #info_div_3 {
        position:relative;
        width:100%;
    }