/* The Landing div that contains the image */
#landing_div {
    position:relative;
    margin:0 auto 0 auto;
    height:600px;
    text-align:center;
}
/* 1217 */
.landing_image {
    position:relative;
    height:100%;
    top:0px;
}

#landing_image_sharp {
    opacity:0.0;
    top:-600px;
}

#landing_image_blur {
    
}

#green
{
    color:#5EBA40;
}
#landing_image_text {
    position:absolute;
    top:42%;
    left:10%;
    right:10%;
    font-size:26px;
    font-weight:400;
    color:#EEE;
    text-align:center;
    opacity:0.0;
}

.car_info {
    position:absolute;
    color:#EEE;
    font-size:1.25em;
    font-weight:300;
    opacity:0.0;
    text-align:center;
}

/* The information about the car */
#maintitle {
    top:20%;
    left:20%;
    font-size:1.7em;
}

#engine {
    top:13%;
    right:20%;
}

#headlights {
    top:85%;
    left:25%;
}

#output {
    top:80%;
    right:20%;
}

.figure {
    font-size:1.5em;
}

#range {
    top:-870px;
    left:270px;
}

/* Sponsor bar */
#sponsorbar {
    position:relative;
    bottom:0px;
    width:100%;
    left:0px;
    height:40px;
    padding-top:10px;
    padding-bottom:10px;
    min-width:980px;
    text-align:center;
    color:white;
    font-weight:400;
    font-style:italic;
    font-size:40px;

    /* Give the navigation bar a transparency effect */
    background-color:rgba(150, 150, 150, 0.85);
    
/*    box-shadow:0px 0px 20px #222;*/
}

.info_div {
    position:relative;
    height: 500px;
}

.info_div_text_cell {
    color:#666666;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    height:auto;
    bottom:0px;
    top:0px;
    right:50%;
    left:0px;
    padding:50px;
    font-size:24px;
}

.subtitle {
    font-size:36px;
    font-weight:300;
}

p {
    display:table-cell;
    vertical-align:middle;
}

.info_div_odd_text_table {
    display:table;
    width:40%;
    height:100%;
}

.info_div_even_text_table {
    display:table;
    position:absolute;
    width:40%;
    right:20%;
    height:100%;
}


#info_div_1 {
    background-color:#fff;
    z-index:2;
}
#info_div_1 img {
    position:absolute;
    top:0;
    right:0;
    z-index: 0;
}

#info_div_2 {
    background-color:#FFFFFF;
    z-index:1;
}

#info_div_3 {
    background-color:#FFF;
    z-index:2;
}

#info_div_3 img {
    position:absolute;
    top:0;
    right:0;
    z-index: 0;
}

#footer {
    position:relative;
    height:300px;
    background-color:rgb(60, 60, 60);
}
#sponsorbar img {
    height:40px;
}
