/* The Landing div that contains the image */
#landing_div {
    position:relative;
    margin:0 auto 0 auto;
    height:600px;
    text-align:center;
    background-image:url("image/malibu1.png");
    background-size:cover;
    background-position:50% 50%;
}

#landing_div_blur {
    height:600px;
    background-image:url("image/malibu1blur.png");
    background-size:cover;
    background-position:50% 50%;
    opacity:1.0;
}

#landing_image_text {
    position:absolute;
    top:42%;
    left:10%;
    right:10%;
    font-size:4em;
    font-weight:400;
    color:#EEE;
    text-align:center;
    opacity:0.0;
}

.car_info {
    position:absolute;
    color:#EEE;
    font-size:1.25em;
    font-weight:300;
    opacity:0.0;
    text-align:center;
}

/* The information about the car */
#maintitle {
    top:20%;
    left:20%;
    font-size:1.7em;
}

#engine {
    top:13%;
    right:20%;
}

#headlights {
    top:85%;
    left:25%;
}

#output {
    top:80%;
    right:20%;
}

.figure {
    font-size:1.5em;
}

#range {
    top:-870px;
    left:270px;
}

/* Sponsor bar */
#sponsorbar {
    position:relative;
    bottom:0px;
    width:100%;
    left:0px;
    height:40px;
    padding-top:10px;
    padding-bottom:10px;
    min-width:980px;
    text-align:center;
    color:white;
    font-weight:400;
    font-style:italic;
    font-size:40px;

    /* Give the navigation bar a transparency effect */
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(209,209,209,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#b3d1d1d1',GradientType=0 ); /* IE6-9 */


    box-shadow:0px 0px 10px #222;
}

.info_div {
    position:relative;
    height: 500px;
    margin-top:25px;
    margin-bottom:25px;
}

.info_div_text_cell {
    color:#666666;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    height:auto;
    bottom:0px;
    top:0px;
    right:50%;
    left:0px;
    padding:50px;
    font-size:24px;
}

.subtitle {
    font-size:36px;
    font-weight:300;
}

p {
    display:table-cell;
    vertical-align:middle;
}

.info_div_odd_text_table {
    display:table;
    width:40%;
    height:100%;
}

.info_div_even_text_table {
    display:table;
    position:absolute;
    width:50%;
    right:10%;
    height:100%;
}


#info_div_1 {
    background-color:#fff;
    z-index:2;
    box-shadow:0px 0px 10px #222;
}
#info_div_1 img {
    position:absolute;
    top:0;
    right:0;
    z-index: 0;
}

#info_div_2 {
    background-color:#FFFFFF;
    z-index:1;
    box-shadow:0px 0px 10px #222;
}

#info_div_3 {
    background-color:#FFF;
    z-index:2;
    box-shadow:0px 0px 10px #222;
}

#info_div_3 img {
    position:absolute;
    top:0;
    right:0;
    z-index: 0;
}

#footer {
    position:relative;
    height:150px;

    background: rgb(89,89,89); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(89,89,89,1) 0%, rgba(73,73,73,1) 50%, rgba(96,96,96,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(50%,rgba(73,73,73,1)), color-stop(100%,rgba(96,96,96,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(73,73,73,1) 50%,rgba(96,96,96,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(73,73,73,1) 50%,rgba(96,96,96,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(89,89,89,1) 0%,rgba(73,73,73,1) 50%,rgba(96,96,96,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(89,89,89,1) 0%,rgba(73,73,73,1) 50%,rgba(96,96,96,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#606060',GradientType=0 ); /* IE6-9 */

    box-shadow:0px 0px 10px #222;
}
#sponsorbar img {
    height:40px;
}
