/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/nav.scss */
nav {
  position: fixed;
  z-index: 1;
  /* Width and height properties */
  width: 100%;
  min-width: 1200px;
  max-width: 1500px;
  height: 60px;
  top: 0px;
  /* Gradient background and shadow */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #d1d1d1));
  background-image: -webkit-linear-gradient(#fefefe, #d1d1d1);
  background-image: -moz-linear-gradient(#fefefe, #d1d1d1);
  background-image: -o-linear-gradient(#fefefe, #d1d1d1);
  background-image: linear-gradient(#fefefe, #d1d1d1);
  box-shadow: 0px 0px 10px #222;
}
/* line 18, ../sass/nav.scss */
nav ul {
  list-style-type: none;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 60px;
  margin-top: 0px;
}
/* line 26, ../sass/nav.scss */
nav ul * {
  display: inline-block;
  padding: 22px;
  position: relative;
  cursor: pointer;
  transition: all 0.1s;
  color: #969696;
}
/* line 35, ../sass/nav.scss */
nav ul li:hover {
  color: #5eba40;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 41, ../sass/nav.scss */
nav #logo {
  top: 5px;
  left: 60px;
  margin: 5px 60px 0 60px;
  height: 60px;
}
/* line 48, ../sass/nav.scss */
nav .current_page {
  color: #5eba40;
}

/* line 53, ../sass/nav.scss */
#nav_space {
  height: 60px;
  position: relative;
  width: 100%;
}
