.info_div {
    position:relative;
    height: 500px;
}

.info_div_text_cell {
    color:#DC643C;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height:auto;
    bottom:0px;
    top:0px;
    right:50%;
    left:0px;
    padding:50px;
}
p {
    display:table-cell;
    vertical-align:middle;
}

.info_div_text_table {
    display:table;
    width:50%;
    height:100%;
}
