.info_div {
    position:relative;
    height: 500px;
}

.info_div_text {
    color:#DC643C;
    text-align:center;
    display:block;
    position:absolute;
    height:auto;
    bottom:0px;
    top:0px;
    right:50%;
    left:0px;
    padding:50px;
}